<form class="form-horizontal" role="form">

    <div class="modal-header">
        <h3 class="title" ng-bind="mode ? 'Edit a Customer' : 'Add a Customer'"></h3>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name :</label>

            <div class="col-xs-9">
                <input class="form-control" type="text" id="name" required="true"
                       ng-value="customer.name"
                       ng-model="customer.name"/><br/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email :</label>

            <div class="col-xs-9">
                <input class="form-control" type="email" id="email" min="0"
                       ng-value="customer.email"
                       ng-model="customer.email"/><br/>
            </div>
        </div>
        <div class="form-group">

            <label class="col-sm-2 control-label" for="phone">Phone :</label>

            <div class="col-xs-9">
                <input class="form-control" type="phone" id="phone" min="0" required="true"
                       ng-value="customer.phone"
                       ng-model="customer.phone"/><br/>
            </div>
        </div>
        <div class="ratings">
            <span class="ratings-label">Ratings : </span>
            <span class="ratings-star">
            <rating value="customer.ratings"  ng-click="click(customer.ratings)"></rating>
                <span class="label"
                      ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                      ng-bind="percent + '%'"></span>
                </span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="notes">Notes :</label>

            <div class="col-xs-9">
                <textarea
                        name="customer.notes" ng-model="customer.notes" class="form-control" id="notes" cols="30"
                        rows="5" placeholder="Some Notes.."></textarea>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <!--<input type="hidden" name="_csrf" ng-value="_csrf" />-->
        <input class="btn btn-primary" type="submit" ng-click="submit(customer)" value="Save">
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</form>



