<!DOCTYPE html>
<html ng-app="main">
<head>
    <title>ASYSTEM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/style.css">
    <!--STYLES END-->

    <base href="/"/>
</head>

<body>

<%- body %>

<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/angular.js"></script>
<script src="/linker/js/angular-route.js"></script>
<script src="/linker/js/ui-bootstrap-tpls-0.9.0.js"></script>
<script src="/linker/js/custom.js"></script>
<!--SCRIPTS END-->
</body>
</html>
