<!DOCTYPE html>
<html ng-app="main">
<head>
    <title>ASYSTEM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/style.css">
    <!--STYLES END-->

    <base href="/"/>
</head>

<body>
<div class="container">
    <% if (session.authenticated){ %>
<%- body %>

<% } else { %>
<form action="/api/login" method="post">
    <h3>Login is Required</h3>
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password"/>
    <input type="submit" value="Login"/>
</form>

<% }%>
</div>
</body>
</html>
