body
  font-family "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif

#container
  position relative
  width 71%
  margin 0 auto

#add_prod
  position absolute;
  background #D6D5D5
  padding 10px
  left 49%

.add_btn
  position absolute
  top 1%
  left 31%
.products_list
  overflow-y scroll
  width 400px
  height 520px
  ul
     li
        margin 10px 0
.error
  font-size 14px
  color red