body
  font-family "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif
.sort
nav
  position relative
#container
  position relative
  width 71%
  margin 0 auto
.notification
  position absolute;
  z-index 400
  right 8%
  top 12%
  width 300px

.modal-header
  height 70px
  padding 2px 21px
.nav, .pagination, .carousel a
  cursor: pointer

.search
  width 250px
  display inline
.add_product
  z-index 200
  position absolute;
  padding 8px 20px
  top 20%
  left 10%
  background #eeeeee
  width 520px
  border-radius 7px
  box-shadow 0 0 25px - 5px rgba(11, 29, 66, 0.3)
.id
  border 1px solid #DDD;
.my_nac
  position absolute
  top 16%
  right 11%
.table-scrollable
  max-height 580px
  overflow-y scroll
  margin-top 65px
.products_list
  overflow-y scroll
  width 600px
  height 520px
  ul
    margin 10px 0
    li
      margin 10px 0

.error
  font-size 14px
  color red

.sort
  a
    &:hover
      cursor pointer
a
  &:hover
    text-decoration none
h4
  margin 14px
