<div ng-controller="Boss">

    <div class="notification" ng-show="notification || false">
        <ul>
            <li ng-class="ms_class" ng-repeat="message in messages">{{message}}</li>
        </ul>
    </div>
    <div id="view" ng-view></div>
</div>
