body
  font-family "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif

#container
  position relative
  width 71%
  margin 0 auto

#add_prod
  position absolute;
  display none;
  background #D6D5D5
  padding 10px
  left 49%

