<div class="modal-header">
    <h3>Product Details</h3>
</div>
<div class="modal-body">

    <div class="table-responsive">
        <table class="table table-hover details">
            <tr>
                <td>Name</td>
                <td ng-bind="product.name"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td ng-bind="product.price | currency"></td>
            </tr>
            <tr>
                <td>In Stock</td>
                <td ng-bind="product.inStock || 'Unavailable'"></td>
            </tr>
            <tr>
                <td>Created At</td>
                <td ng-bind="product.createdAt | date:'MM-dd-yyyy'"></td>
            </tr>
            <tr>
                <td>Last Updated At</td>
                <td ng-bind="product.updatedAt | date:'MM-dd-yyyy'"></td>
            </tr>


        </table>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="edit()">Edit</button>
    <button class="btn btn-danger" ng-click="close()">Close</button>
</div>