<h1>Products</h1>
<button class="add_btn" ng-click="toggleForm()">Add New</button>

<div id="add_prod" ng-hide="stat">

    <form>
        <label for="name">Name :</label>
        <input type="text" id="name" required="true" ng-model="product.name"/><br/>
        <label for="price">Price :</label>
        <input type="number" id="price" required="true" ng-model="product.price"/><br/>
        <input type="submit" ng-click="add()" value="Submit">
    </form>
    <button ng-click="toggleForm()">Cancel</button>
    <br/>
    <ul>
    <li ng-class="ms_class" ng-repeat="message in messages">{{message}}</li>
    </ul>
</div>
<div class="products_list">
    <ul>
        <li ng-repeat="product in products">{{product.name}} is now @ {{product.price | currency}} <br/> (
            {{product.price * 80 | currency:"BDT: "}}) <br/>Added on {{product.updatedAt}}
        </li>
    </ul>
</div>